@font-face{
    font-family:'DIN Round Web';
    src:url('./fonts/DINRoundWeb.eot');
    src:url('./fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"),url('./fonts/DINRoundWeb.ttf') format("truetype")
}

html, body {
  font-family: "DIN Round Web" !important;
}

body {
  padding: 1rem 0;
}

html {
  font-size: 1rem;
}

/* Custom data styles */

.departure-more-information-button {
  color: #CCC;
}

a.departure-header, a.departure-header:active {
  color: #fff;
  text-decoration: none;
}

.departure-destination-name {
  color: #333;
}

.departure-platform {
  color: #444;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.departure-board-header {
  background-color: rgb(54, 17, 99);
  color: rgb(255, 255, 255);
}

.departure-board-header-subtitle {
  font-size: 0.9rem;
}

.departure-late-text {
  font-size: 0.8rem;
  color: red;
}

.rbt-highlight-text {
  background-color: inherit;
  color: #007bff;
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  border-radius: 0.25rem;
}

/* Loading bar */

.list-group div:nth-child(2) {
  border-bottom: none;
}

.list-group div:nth-child(3) {
  border-top: none;
}

.loader-padding {
  height: 4px;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #361163;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/* Responsiveness tweaks */

@media (max-width: 991px) {
  body {
    background-color: rgb(183, 0, 98);
  }

  .spinner > div {
    background-color: #FFF;
  }
}